/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
  }

  * {
	margin: 0;
  }

  body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100vh;
  }

  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }

  input, button, textarea, select {
	font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }

  #root, #__next {
	isolation: isolate;
  }

#app {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.backyard {
	display: grid;
	place-items: center;
	gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
	width: 600px;
	height: 600px;
	background-image: url('/grass.webp');
	background-repeat: repeat;
}

.backyard__hole {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100px;
}

.backyard__hole::after {
	content:'';
	background-image: url('/hole.webp');
	width: 100%;
	height: 70px;
	background-position: bottom center;
	background-size: contain;
	display: block;
	background-repeat: no-repeat;
	z-index: 2;
	position: absolute;
	bottom: -30px;
}

.mole {
	background-image: url('/mole.webp');
	background-repeat: no-repeat;
	background-size: 60%;
	position: absolute;
	background-position: center;
	top: 100%;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}
